extends layout_common

block css
	//- Date Time Picker
	link(href='/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' rel='stylesheet')
	//- Select
	link(href='/plugins/bootstrap-select/css/bootstrap-select.css' rel='stylesheet')
	
block content
	.block-header
		h2 ADD STUDENT RECORD
	form(method='POST', action='/add-student/new', enctype='multipart/form-data')
		.row.clearfix.formrow
			.col-lg-7.col-md-7.col-sm-6.col-xs-12
				.card
					.header.bg-blue
						h2  Personal Details
					.body
						.row.clearfix.formrow
							.col-md-12
								.form-group.form-float
									.form-line
										input.form-control(type='text', name='student_name', required='')
										label.form-label Student Name
							.col-md-12
								.form-group.form-float
									.form-line
										input.form-control(type='text', name='college_name', required='')
										label.form-label College Name
							.col-md-6
								.form-group.form-float
									.form-line
										input.form-control(type='text', name='branch', required='')
										label.form-label Branch Name
							.col-md-6
								.form-group.form-float
									.form-line
										input.form-control(type='number', name='roll_no', required='')
										label.form-label College Roll Number
						.row.clearfix.formrow
							.col-md-12
								.form-group.form-float
									.form-line
										textarea.form-control.no-resize(rows='3', placeholder='Permanent Address', name='permanent_address', required='')
							.col-md-12
								.form-group.form-float
									.form-line
										textarea.form-control.no-resize(rows='3', placeholder='Correnspondence Address', name='correspondence_address', required='')
						.row.clearfix.formrow
							.col-md-6
								.form-group.form-float
									.form-line
										input.form-control(type='number', name='parent_contact', required='')
										label.form-label Parent's Contact Number
							.col-md-6
								.form-group.form-float
									.form-line
										input.form-control(type='number', name='student_contact', required='')
										label.form-label Student's Contact Number
					.header.bg-red
						h2  For Office Use
					.body
						.row.clearfix.formrow
							.col-md-6
								.form-group.form-float
									.form-line
										input.form-control(type='number', name='room_number', required='')
										label.form-label Room Number
							.col-md-6
								.form-group
									.form-line
										input.datepicker.form-control(type='text', placeholder='Admission Date', name='admission_date', required='')
							.col-md-6
								.form-group.form-float
									.form-line
										input.form-control(type='number', name='rent_amount', required='')
										label.form-label Rent Amount
							.col-md-6
								select.form-control.show-tick(name='payment_duration', required='')
									option(value='') -- Payment Duration --
									option(value='1') Monthly
									option(value='3') Quarterly
									option(value='6') Semi-Anually
									option(value='12') Anually
			.col-lg-5.col-md-5.col-sm-12.col-xs-12
				.card
					.header.bg-blue
						h2  Documents
					.body
						.row.clearfix
							.col-md-12
								.form-group
									label.form-label Student Photo
									.form-line
										input#student_photo.form-control(type='file', name='myfile', required='')
							.col-md-12
								.form-group
									label.form-label Aadhar Card Photo
									.form-line
										input#aadhar_photo.form-control(type='file', name='myfile', required='')
							.col-md-12
								.form-group
									label.form-label College ID Card Photo
									.form-line
										input#college_photo.form-control(type='file', name='myfile', required='')
						.row.clearfix.formrow
							.col-md-6
								button.btn.bg-green.btn-block.btn-lg.m-l-15.waves-effect(type='sumit') SUBMIT
							.col-md-6
								button.btn.bg-red.btn-block.btn-lg.m-l-15.waves-effect(type='reset') RESET
block scripts
	//- Moment Js
	script(src='/plugins/momentjs/moment.js')
	//- Date Time Picker
	script(src='/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js')
	//- Page Script
	script(src='/js/pages/add-student.js')