doctype html
html
	head
		meta(charset='UTF-8')
		meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
		title Sign In | Hostel Management System
		//- Favicon
		//- link(rel='icon', href='/favicon.ico', type='image/x-icon')
		//- Google Fonts
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet', type='text/css')
		//- Bootstrap Core Css
		link(href='/plugins/bootstrap/css/bootstrap.css', rel='stylesheet')
		//- Waves Effect Css
		link(href='/plugins/node-waves/waves.css', rel='stylesheet')
		//- Animation Css
		link(href='/plugins/animate-css/animate.css', rel='stylesheet')
		//- Custom Css
		link(href='/css/style.css', rel='stylesheet')
		//- reCaptcha API
		script(src='https://www.google.com/recaptcha/api.js')
	body.login-page
		.login-box
			.logo
				a(href='javascript:void(0);')
					| Kandi
					b Hostel
				small Hostel Management System
			.card
				.body
					form(method='POST', action='/')
						.msg Sign in to start your session
						.input-group
							span.input-group-addon
								i.material-icons person
							.form-line
								input.form-control(type='text', name='username', placeholder='Username', required='', autofocus='')
						.input-group
							span.input-group-addon
								i.material-icons lock
							.form-line
								input.form-control(type='password', name='password', placeholder='Password', required='')
						.row
							.col-xs-8.p-t-5
								.g-recaptcha(data-sitekey='6LcJxS4UAAAAAAGXubPt1DjkAkVVJJvE68mpfqzS')
						.row
							button.btn.btn-block.bg-indigo.waves-effect(type='submit') SIGN IN

			//- Jquery Core Js
			script(src='/plugins/jquery/jquery.min.js')
			//- Bootstrap Core Js
			script(src='/plugins/bootstrap/js/bootstrap.js')
			//- Waves Effect Plugin Js
			script(src='/plugins/node-waves/waves.js')
			//- Validation Plugin Js
			script(src='/plugins/jquery-validation/jquery.validate.js')
			//- Bootstrap Notify Plugin
			script(src='/plugins/bootstrap-notify/bootstrap-notify.js')
			//- Information Messages
			script(src='/js/script.js')
			if successMessage[0] != null
				script.
					showNotification('bg-green', '#{successMessage[0]}', 'top', 'center', 'animated bounceInDown', 'animated bounceOutDown');
			if errorMessage[0] != null
				script.
					showNotification('bg-red', '#{errorMessage[0]}', 'top', 'center', 'animated bounceInDown', 'animated bounceOutDown');